<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Import font-awesome.css-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Scott Gladstone</title>
  </head>

  <header>
    <nav class="top-nav" style="background-color: rgba(0,0,0,0); box-shadow: none; position: fixed; z-index: 2;">
      <style>
        .btn-floating {
          border-radius: 0;
        }
      </style>
      <ul class="right" style="margin-right: 20px; line-height: 80px;">
          <li style="background-color: rgb(0,0,0,0); margin-left: 3px;"><a href="https://www.linkedin.com/in/scottwgladstone" target="_blank" class="btn-floating white"><i class="fa fa-linkedin" style="color: black; font-size: 1.25rem;"></i></a></li>
          <li style="background-color: rgb(0,0,0,0); margin-left: 3px;"><span id="contact-button" style="padding-left: 5px; padding-right: 5px;"><a href="https://github.com/swglad" target="_blank" class="btn-floating white"><i class="fa fa-github" style="font-size: 1.25rem; color: black;"></i></a></span></li>
          <li style="background-color: rgb(0,0,0,0); margin-left: 3px;"><a href="mailto:scott.w.gladstone@gmail.com" class="btn-floating white"><i class="mdi-communication-email" style="font-size: 1.25rem; color: black;"></i></a></li>
        </ul>
    </nav>
  </header>

  <body>

    <div id="main">
      {{ content }}
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/vendor/materialize/js/materialize.min.js"></script>

    <script>
      $( document ).ready(function(){
        $('.parallax').parallax();
        $(".button-collapse").sideNav();
        $('.tooltipped').tooltip({delay: 1});
        $('.slider').slider({full_width: true});
        $('.collapsible').collapsible({
          accordion : false
        });
      })
    </script>


  </body>

</html>
